* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #E4E4E4;
	font-family: "Courier New", Courier, mono, "Lucida Grande", Lucida, Verdana, sans-serif;
}

.conteiner {
	width: 960px;
	margin: 0 auto;
}

/* @group post */

.post {
	margin-top: 100px;
	margin-bottom: 50px;
}

.photo {
	width: 960px;
	height: 540px;
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	background-color: #3FB39D;
}

.posttext {
	background-color: white;
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	width: 880px;
	margin: 0 auto;
	padding-top: 1px;
	padding-bottom: 30px;
}

h2.postname {
	text-align: center;
	font-size: 30px;
}

.postname {
 	margin-top: 40px;
 	margin-bottom: 30px;
}

h2.postname a{
	text-decoration: none;
	color: #3C3C3C;
}

.postmeta {
	text-align: center;
	margin-bottom: 40px;	
	color: #C1C0C0;
	font-weight: bold;
	font-size: 14px;
}

.postmeta li {
  list-style: none;
  display: inline-block;
}

.postcontent {
	margin-left: 78px;
	margin-right: 78px;
	color: #636467;
}

.postcontent p {
	margin-bottom: 55px;
}

.inpostimgleft {
	float: left;
	margin-right: 26px;
}

h3 {
	font-size: 25px;
	line-height: 60px;
}

/* @end post */



/* @group author */

.authorinfo {
	width: 880px;
	margin: 0 auto;
	background-color: white;
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	margin-bottom: 100px;
}

.autorphoto {
	float: left;
	width: 100px;
	height: 100px;
	margin-left: 78px;
	margin-right: 35px;
	padding-top: 45px;
	padding-bottom: 45px;
}

.authorpic {
	width: 100px;
	height: 100px;
}

.aboutauthor {
	padding-top: 45px;
	padding-bottom: 45px;
	margin-right: 78px;
}

.authorname {
	font-weight: bold;
	margin-bottom: 12px;
}

.autordescription {
	color: #636467;
}

.aboutauthor a{
	text-decoration: none;
	color: #000;
}



/* @end author*/


/**********************************************************************************************/
/* @group optimization */
/* @group big screen optimization */

	@media only screen and (min-width : 2000px) {
		
		.conteiner {
			width: 1920px;
		}
		
		.photo {
			width: 1920px;
			height: 1080px;
		}
		
		.pic {
			width: 1920px;
			height: 1080px;
			-webkit-filter: blur(0.5px);   
		}
		
		.posttext {
			width: 1760px;
		}
		
		h2.postname {
			font-size: 45px;
		}
		
		.postname {
		 	margin-top: 60px;
		 	margin-bottom: 45px;
		}
		
		.postmeta {
			margin-bottom: 60px;
			font-size: 18px;
		}
		
		.postcontent {
			margin-left: 120px;
			margin-right: 120px;
		}
		
		.postcontent p {
			margin-bottom: 60px;
			font-size: 24px;
		}
		
		h3 {
			font-size: 40px;
			line-height: 60px;
		}
		
		.authorinfo {
			width: 1760px;
			font-size: 24px;
		}
		
		.autorphoto {
			height: 120px;
			width: 120px;
			margin-left: 120px;
			margin-right: 50px;
			padding-top: 90px;
			padding-bottom: 90px;
		}
		
		.authorpic {
			width: 120px;
			height: 120px;
		}
		
		.aboutauthor {
			padding-top: 90px;
			padding-bottom: 90px;
			margin-right: 120px;
		}
	}

/* @end big screen optimization */

/* @group mobile optimization */

	@media only screen and (max-width : 767px) {
		
		.conteiner {
			width: 100%;
		}
		
		.photo {
			width: 100%;
			height: 100%;
		}
		
		.pic {
			width: 100%;
		}
		
		.posttext {
			width: 100%;
			margin-top: -5px;
		}
		
		.postcontent {
			margin-left: 5%;
			margin-right: 5%;
		}
		
		.postcontent p {
			margin-bottom: 25px;
		}
		
		h3 {
			font-size: 24px;
			line-height: 50px;
			text-align: center;
		}
		
		.inpostimgleft {
			float: none;
			

		}
		
		.inpostimg {
			width: 300px;
			margin: 0 auto;
		}
	}
	
	@media only screen and (max-height : 640px) {
		
		.post {
			margin-top: 0;
			margin-bottom: 30px;	
		}
		
		.authorinfo {
			margin-bottom: 30px;
		}
		
	}
	
	@media only screen and (min-width : 768px) and (max-width : 1000px) {
		
		.conteiner {
			width: 720px;
		}
		
		.photo {
			width: 720px;
			height: 405px;
		}
		
		.pic {
			width: 720px;
			height: 405px;
		}
		
		.posttext {
			width: 660px;
		}
		
		h3 {
			font-size: 24px;
			line-height: 30px;
		}
		
		.authorinfo {
			width: 660px;
		}
	}

/* @end mobile optimization */
/* @end optimization */