* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #E4E4E4;
	font-family: "Courier New", Courier, mono, "Lucida Grande", Lucida, Verdana, sans-serif;
}

.headder {
	width: 100%;
	height: 64px;
	opacity: 0.9;
	background-color: #fff;
	position: fixed;
}

.headwrap {
	width: 1024px;
	margin: 0 auto;
}

.headwrap h1 {
	line-height: 64px;
	font-weight: normal;
	font-style: normal;
	/*margin-left: 51px;*/
}

.headwrap a {
	text-decoration: none;
	color: #000;
}

.topbg {
	width: 100%;
	height: 250px;
	background: url(img/bg.jpg) center no-repeat;
	/*position: fixed;
	z-index: -10000;*/
}

.conteiner {
	width: 1024px;
	margin: 0 auto;
}

/* @group wrap1 */
.wrap1 {
	margin-top: -92px;
	width: 256px;
	float: left;
	background-color: red;
	margin-right: 32px;
	z-index: 2;
}

.me {
	background-color: #fff;
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.myphoto {
	width: 256px;
	height: 256px;
}

.mypic {
	width: 256px;
	height: 256px;
}

.myname {
	text-align: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

.aboutme {
	text-align: justify;
	padding: 16px;
}

/* @end wrap1 */

/* @group wrap2 */

	.wrap2 {
		background-color: #fff;
		width: 512px;
		height: 1000px;
		float: left;
		margin-right: 32px;
	}

/* @end wrap2 */

/* @group wrap3 */
	
	.wrap3 {
		background-color: #fff;
		width: 192px;
		height: 1000px;
		float: left;
	}
	
/* @end wrap3 */


.wrap2, .wrap3 {
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	margin-bottom: 50px;
	/*margin-top: 250px;*/
}

