* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #E4E4E4;
	font-family: "Courier New", Courier, mono, "Lucida Grande", Lucida, Verdana, sans-serif;
}

/* @group headder */

.headder {
	width: 100%;
	height: 64px;
	opacity: 0.9;
	background: url(img/headderbg.png) #fff;
	position: fixed;
	top: 0;
	/*-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .1);*/
}

.headwrap {
	width: 1024px;
	margin: 0 auto;
}

.headwrap h1 {
	line-height: 64px;
	font-weight: normal;
	font-style: normal;
	float: left;
	/*margin-left: 51px;*/
}

.headwrap a {
	text-decoration: none;
	color: #000;
}

.topmenu {
	line-height: 64px;
	font-size: 24px;
}


.topmenu ul li {
	display: inline;
	float: right;
	text-decoration: none;
	margin-left: 20px;
}

.topmenu a:hover {
	color: #C8B596;
}

/* @end headder*/

.topbg {
	width: 100%;
	height: 314px;
	background: url(img/bg.jpg) center -730px no-repeat;
	background-attachment:fixed;
	/*position: fixed;
	z-index: -10000;*/
}

.conteiner {
	width: 1024px;
	height: 100%;
	margin: 0 auto;
}

/* @group wrap1 */
.wrap1 {
	margin-top: -92px;
	width: 256px;
	float: left;
	margin-right: 32px;
	z-index: 2;
}

.me {
	background-color: #fff;
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 2px -4px rgba(0, 0, 0, .2);
	box-shadow: 0 2px -4px rgba(0, 0, 0, .2);
}

.myphoto {
	width: 256px;
	height: 256px;
}

.mypic {
	width: 256px;
	height: 256px;
}

.myname {
	text-align: center;
	line-height: 64px;
	z-index: 100;
}


	/* @group sosial */
		
		.sosial {
			width: 256px;
			height: 64px;
			background-color: #ffffff;
			-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
			box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
		}
		
		.vk, .twitter, .instagram, .github {
			width: 64px;
			height: 64px;
			float: left;
		}
		
		
		.vk {
			background-image: url(img/social/vk_ns.png);
		}
		
		.vk:hover {
			background-image: url(img/social/vk_s.png)
		}
		
		.twitter {
			background-image: url(img/social/twitter_ns.png);
		}
		
		.twitter:hover {
			background-image: url(img/social/twitter_s.png);
		}
		
		.instagram {
			background-image: url(img/social/instagram_ns.png);
		}
		
		.instagram:hover {
			background-image: url(img/social/instagram_s.png);
		}
		
		.github {
			background-image: url(img/social/github_ns.png);
		}
		
		.github:hover {
			background-image: url(img/social/github_s.png);
		}
	
	/* @end sosial*/

/* @end wrap1 */

/* @group wrap2 */

	.wrap2 {
		background-color: #fff;
		width: 736px;
		margin-left: 288px;
		-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
		box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
		margin-bottom: 50px;
	}
	
	.aboutme {
		padding: 12px 64px 45px;
		text-align: justify;
	}
	
	.aboutme h2 {
		font-size: 32px;
		line-height: 60px;
	}
	
	.aboutme p {
		margin-bottom: 12px;
	}

/* @end wrap2 */

/* @group footer */

.line {
	width: 300px;
	height: 2px;
	background-color: #D8D9D8;
	margin: 0 auto;
}

.footwrap {
	width: 1024;
	margin: 0 auto;
	line-height: 48px;
	text-align: center;
}

/* @end footer*/


/**********************************************************************************************/
/* @group optimization */
	/* @group mobile optimization */
	
		@media only screen and (max-width : 767px) {
			
			.headder {
				height: auto;
				position: relative;
			}
			
			.headwrap {
				width: 100%;
			}
			
			.headwrap h1 {
				float: none;
				text-align: center;
				line-height: normal;
				margin-top: 12px;
				margin-bottom: 2px;
				font-size: 48px;
			}
			
			.topmenu {
				line-height: normal;
				padding-bottom: 8px;
				text-align: center;
				
			}
			
			.topmenu ul li {
				float: none;
				display: block;
				margin-left: 0px;
				line-height: 35px;
				font-size: 32px;
			}
			
			.topbg {
				background-attachment: scroll;
				height: 200px;
				background-position: center -800px;
				margin-top: -0px;
			}
			
			.conteiner {
				width: 100%;
			}
			
			
			/* @group wrap1 */
				
				.wrap1 {
					float: none;
					margin: -144px auto 276px;
					width: 320px;
				}
				
				.myphoto {
					float: left;
				}
				
				
					/* @group sosial */
						
						.sosial {
							margin-left: 256px;
							width: 64px;
							margin-top: -320px;
							
						}
						
						.vk, .twitter, .instagram, .github  {
							float: none;
						}
						
					/* @end sosial*/
					
			/* @end wrap1 */
				
			/* @group wrap2 */
				
				.wrap2 {
					width: 100%;
					margin-left: 0px;
					padding-top: 10px;
					margin-bottom: 6px;
				}
				
				.aboutme h2 {
					text-align: center;
				}
				
				.aboutme {
					padding: 8px 5% 16px;
				}
				
			/* @end wrap2 */
			
			
			.footwrap {
				width: 100%;
				margin-top: -5px;
			}
			
		}
		
		@media only screen and (min-width : 768px) and (max-width : 1000px) {
			
			.headwrap {
				width: 768px;
			}
			
			.topbg {
				height: 264px;
				background-position: center -765px;
			}
			
			.conteiner {
				width: 768px;
			}
			
			/* @group wrap1 */
				
				.wrap1 {
					width: 224px;
				}
				
				.myphoto {
					width: 224px;
					height: 224px;
				}
				
				.mypic {
					width: 224px;
					height: 224px;
				}
				
					/* @group sosial */
						
						.sosial {
							width: 224px;
							height: 56px;
						}
						
						.vk, .twitter, .instagram, .github {
							width: 56px;
							height: 56px;
							background-size: 56px 56px;
						}
						
					/* @end sosial*/
					
			/* @end wrap1 */
			
			/* @group wrap2 */
			
				.wrap2  {
					width: 512px;
					margin-bottom: 40px;
				}
				
				.aboutme {
					padding: 8px 32px 16px;
				}
				
				.aboutme h2 {
					text-align: center;
				}
			
			/* @end wrap2 */
			
		}
		
	/* @end mobile optimization */
/* @end optimization */

























