* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #E4E4E4;
	font-family: "Courier New", Courier, mono, "Lucida Grande", Lucida, Verdana, sans-serif;
}

/* @group headder */

.headder {
	width: 100%;
	height: 64px;
	opacity: 0.9;
	background: url(img/headderbg.png) #fff;
	position: fixed;
	top: 0;
	/*-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .1);*/
}

.headwrap {
	width: 1024px;
	margin: 0 auto;
}

.headwrap h1 {
	line-height: 64px;
	font-weight: normal;
	font-style: normal;
	float: left;
	/*margin-left: 51px;*/
}

.headwrap a {
	text-decoration: none;
	color: #000;
}

.topmenu {
	line-height: 64px;
	font-size: 24px;
}


.topmenu ul li {
	display: inline;
	float: right;
	text-decoration: none;
	margin-left: 20px;
}

.topmenu a:hover {
	color: #C8B596;
}

/* @end headder*/

.topbg {
	width: 100%;
	height: 314px;
	background: url(img/bg.jpg) center -730px no-repeat;
	background-attachment:fixed;
	/*position: fixed;
	z-index: -10000;*/
}

.conteiner {
	width: 1024px;
	height: 100%;
	margin: 0 auto;
}

/* @group wrap1 */
.wrap1 {
	margin-top: -92px;
	width: 256px;
	float: left;

	margin-right: 32px;
	z-index: 2;
}

.me {
	background-color: #fff;
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 2px -4px rgba(0, 0, 0, .2);
	box-shadow: 0 2px -4px rgba(0, 0, 0, .2);
}

.myphoto {
	width: 256px;
	height: 256px;
}

.mypic {
	width: 256px;
	height: 256px;
}

.myname {
	text-align: center;
	line-height: 64px;
}


	/* @group sosial */
		
		.sosial {
			margin-top: px;
			width: 256px;
			height: 64px;
			background-color: #ffffff;
			-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
			box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
		}
		
		.vk {
			width: 64px;
			height: 64px;
			background-image: url(img/social/vk_ns.png);
			float: left;
		}
		
		.vk:hover {
			background-image: url(img/social/vk_s.png)
		}
		
		.twitter {
			width: 64px;
			height: 64px;
			background-image: url(img/social/twitter_ns.png);
			float: left;
		}
		
		.twitter:hover {
			background-image: url(img/social/twitter_s.png);
		}
		
		.instagram {
			width: 64px;
			height: 64px;
			background-image: url(img/social/instagram_ns.png);
			float: left;
		}
		
		.instagram:hover {
			background-image: url(img/social/instagram_s.png);
		}
		
		.github {
			width: 64px;
			height: 64px;
			background-image: url(img/social/github_ns.png);
			float: left;
		}
		
		.github:hover {
			background-image: url(img/social/github_s.png);
		}
		
	/* @end sosial*/

/* @end wrap1 */

/* @group wrap2 */

	.wrap2 {
		background-color: #fff;
		width: 736px;
		margin-left: 288px;
		-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
		box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
		margin-bottom: 50px;
	}
	
	.aboutme {
		padding: 12px 64px 45px;
		text-align: justify;
	}
	
	.aboutme h2 {
		font-size: 32px;
		line-height: 60px;
	}
	
	.aboutme p {
		margin-bottom: 10px;
	}

/* @end wrap2 */

/* @group footer */

.line {
	width: 300px;
	height: 2px;
	background-color: #D8D9D8;
	margin: 0 auto;
}

.footwrap {
	width: 1024;
	margin: 0 auto;
	line-height: 48px;
	text-align: center;
}

/* @end footer*/
